body {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.typer {
  margin: 0 auto;
  display: grid;
  width: 500px;
}

.space {
  padding: 5px;
}

textarea {
  margin: 10px;
  width: 100%;
}
